.work-example {
    display: flex;
    flex-wrap: wrap;

    transition: box-shadow 250px $timing-function;
    margin-bottom: -30px;
    
    @media screen and (max-width: $mobile) {
        display: block;
    }
}

.work-example__item {
    border: 1px solid $card-border-color;

    background-color: $white-color;

    transition: box-shadow 250ms $timing-function;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        width: calc((100% - 30px) / 2);
    
        &:not(:nth-child(2n)) {
            margin-right: 30px;
        }
    }
    
    @media screen and (min-width: $desktop) {
        width: calc((100% - 2 * 30px) / 3);
    
        &:not(:nth-child(3n)) {
            margin-right: 30px;
        }
    }

    &:hover,&:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .work-example__text {
        transform: translateY(0);
    }
}

.work-example__image {
    position: relative;
    overflow: hidden;
}

.work-example__text {

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    margin: 0;

    background-color: rgba(33, 150, 243, 0.9);
    color: $white-color;
    font-size: 18px;
    line-height: 1.55;

    transform: translateY(100%);
    transition: transform 250ms $timing-function;
}

