.hero-container {
    max-width: 1600px;
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to right, $hero-color, $hero-color),
        url(../images/studio/hero-img.jpg);
    background-color: $secondary-background-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/studio/hero2.jpg);
    }
    
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/studio/hero-tablet.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/studio/hero-tablet2.jpg);
        }
    }
    
    @media screen and (min-width: $desktop) {
        height: 600px;
    
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/studio/hero-desktop.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/studio/hero-desktop2.jpg);
        }
    }
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero__title {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;

    color: $white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    @media screen and (min-width: $desktop) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }


}

.hero__button {
    cursor: pointer;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    border: transparent;
    border-radius: 4px;

    background-color: $accent-color;
    color: $white-color;
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition: background-color 250ms $timing-function;

    &:hover,&:focus {
        background-color: $active-accent-color;
    }
}

