.qualities {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width:$mobile)  {
      display: block;
    }
    
    
    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        margin: -15px;
    }
}

.qualities__item {
    width: 100%;
    
    @media screen and (max-width:767px){
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
       width: calc((100% - 4*15px)/2);
       margin: 15px;
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 3 * 30px) / 4);
        margin-right: 30px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}

.qualities__icon {
    height: 70px;
    width: 70px;

    &-container {
        display: flex;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
    
        background-color: $grey-color;
    }
}

.qualities__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width:$mobile) {
        text-align: center;
    }
}

.qualities__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;

    @media screen and (max-width: $mobile) {
        margin-bottom: 30px;
    }
}