.section__team {
    background-color: $grey-color;
}

.team {
    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
    }
 
    @media screen and (min-width:$desktop) {
        display: flex;
        justify-content: center;
    }
 
} 

.team__item {
    width: 100%;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;

    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    
    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: $desktop) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.team__photo {
    margin-bottom: 30px;
}

.team__member {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__job {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}