.work {
    display: flex;
}

.work__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work__description {
    position: absolute;
    bottom: 0;
    left: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-top: 0;
    margin-bottom: 0;
    width: 370px;
    height: 70px;

    color: $white-color;
    background: $work-wrapper-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}