.footer__contacts{
    @media  screen and (max-width:767px){
        margin-bottom: 60px;
    }
}

.contacts__item{
    
    &--header{
        &:not(:last-child){
        @media screen and (max-width: 767px) {
            margin-bottom: 64px;
        }

        @media screen and (min-width: $tablet) and (max-width: 1199px) {
    
            margin-bottom: 10px;
        
        }
        @media screen and (min-width:$desktop){
            margin-right: 50px;
        }
        
    }
        @media screen and (max-width: 767px) {
            margin-bottom: 32px; 
        }
    }
    &--footer{
        @media screen and (min-width: $tablet) and (max-width: 1199px) {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }   
}

.contacts__link {
    font-style: normal;
    font-size: 14px;
    text-decoration: none;

    transition: color 250ms $timing-function;

    &:hover, &:focus {
        color: $accent-color;
    }
}

.contacts__link--header {
    display: flex;
    align-items: center;
    color: $primary-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

.contacts__link--footer {
    color: $footer-link-color;
    line-height: 1.71;
}

.contacts__icon {
    margin-right: 10px;

    fill: currentColor;
    @media screen and (max-width: 767px) {
        display: none;
    }
    
}

.contacts__link--phone{
    @media screen and (max-width: 479px) {
        font-size: 6vw;
        color: $accent-color;
    }
    
    @media screen and (min-width: $mobile) and (max-width: 767px) {
        font-size: 34px;
        line-height: 1.18;
        color: $accent-color;
    }
}

.contacts__link--mail {
    @media screen and (max-width: 479px) {
        font-size: 5vw;
    }
    
    @media screen and (min-width: $mobile) and (max-width: 767px) {
        font-size: 24px;
        line-height: 1.17;
    }
}