.logo {

    color: $accent-color;

    font-family: $font-raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    &__header--accent {
        color: $black-color;
    }

    &__footer--accent {
        color: $white-color;
    }

}

.logo_header{
    @media screen and (min-width: $desktop) {
        margin-right: 93px;
    }
    
    @media screen and (min-width: $tablet) {
        margin-right: 88px;
    }
}


