.subscribe-form {

    @media screen and (max-width: 767px) {
        display: block;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        margin-left: 93px;
    }
}

.subscribe-form__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $white-color;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    
    @media screen and (min-width: $desktop) {
        margin-top: 12px;
    }
}

.subscribe-form__wrapper {
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: center;
    }
}

.subscribe-form input {
    height: 50px;
    padding: 15px 16px;
    border-radius: 4px;

    background-color: $secondary-background-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: border-color 250ms $timing-function,
        color 250ms $timing-function;

    @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 20px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 450px;
        margin-bottom: 20px;
    }
    
    @media screen and (min-width: $desktop) {
        width: 360px;
    }

    &::placeholder {
    
        font-size: 16px;
        line-height: 1.25;
    
        color: $footer-link-color;
    }

    &:hover,&:focus {
        outline: 0;
        outline-offset: 0;
        color: $footer-link-color;
        border-color: $white-color;
    }
}
