$primary-text-color: #757575;
$accent-color:#2196F3;
$active-accent-color:#188CE8;
$white-color:#FFFFFF;
$black-color:#000000;
$background-color:#E5E5E5;
$title-color:#212121;
$footer-link-color:rgba(255, 255, 255, 0.6);
$grey-color:#F5F4FA;
$header-border-color:#ECECEC;
$secondary-background-color:#2F303A;
$hero-color:rgba(47, 48, 58, 0.4);
$card-border-color:#EEEEEE;
$icon-color:#AFB1B8;
$icon-background-color: rgba(255, 255, 255, 0.1);
$work-wrapper-color:rgba(47, 48, 58, 0.8);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$font-roboto: 'Roboto',sans-serif;
$font-raleway: 'Raleway',sans-serif;